.Pagination {
    position: relative;
    max-width: 1050px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 30px 30px 30px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        display: flex;
        align-items: center;

        li {
            position: relative;
            font-weight: 700;
            font-size: 12px;
            margin-right: 10px;
            line-height: 20px;

            width: 25px;
            height: 25px;

            cursor: pointer;

            display: flex;
            align-items: center;
            justify-content: center;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;

                border-radius: 50%;
                background-color: transparent;

                z-index: -1;
            }

            > a {
                text-decoration: none;
                color: var(--text-color);
                width: 100%;
                text-align: center;
            }

            &.Active {
                color: #FFF;
                cursor: text;
            }

            &.Active:after {
                background-color: #000;
            }
        }
    }

    .Nav {
        display: flex;
        align-items: center;

        font-weight: 700;
        font-size: 12px;
        line-height: 14px;

        .Arrows {
            display: flex;
            align-items: center;
            margin-left: 10px;

            > button[type="button"] {
                width: 25px;
                height: 25px;
                background: #FFFFFF;
                border: 1px solid var(--border-color);
                border-radius: 3px;

                display: flex;
                align-items: center;
                justify-content: center;

                cursor: pointer;
            }

            > button[type="button"]:disabled {
                background-color: transparent;
                border: 1px solid transparent;
                cursor: text;
            }

        }
    }
}