$font-path: "../assets/fonts/";

:root {
    --text-color: #333;
    --heading-color: #777;
    --border-color: #EDEDED;
    --background-color: #E5E5E5;
    --error-color: #F53C3C;
    --disable-color: #AAA;
    --link-color: #286EFA;

    --text-color: #555;
    --search-background: #F2F2F2;

    --normal-font-size: 15px;
    --normal-line-height: 30px;
    --mini-font-size: 12px;
    --letter-spacing: 0.26px;
    --form-field-padding: 10px 15px;
    --select-arrow: var(--border-color);
}

@import "./_mixins.scss";
